body {
  font-family: var(--font);
  width: 100vw;
  height: 100vh;
  background-color: var(--grey-900);

  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: bold;
  color: var(--white);
}

.small-bold {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: bold;
}

.bio-text {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: 400;

  color: var(--white);
}
